div.page-1 { /* fishhead */
    position: absolute;
    -webkit-animation: floatImage 20s both  normal ease-out 1s;
    animation: floatImage 20s both normal ease-out 1s;
}
img.page-1 { 
    position: relative;
    top: 25%;
    margin: auto;
    display: block;
    width: 50%; 
    height: 50%;
}
div.page-2 { /* yachiyo */
    position: absolute;  
    -webkit-animation: floatImageLeft 50s both cubic-bezier(.50,.40,.75,1) 9s;
    animation: floatImageLeft 50s both normal cubic-bezier(.50,.40,.75,1) 9s;
}
img.page-2 { 
    position: relative;
    top: 25%;
    display: block;
    width: 600px; 
}
div.page-3 { /* pool */
    position: absolute;  
    -webkit-animation: floatImageRight 60s both cubic-bezier(.50,.40,.75,1) 34s;
    animation: floatImageRight 60s both normal cubic-bezier(.50,.40,.75,1) 34s;
}
img.page-3 { 
    position: relative;
    top: 25%;
    display: block;
    width: 700px; 
}
@-webkit-keyframes floatImage {
    0% { opacity: 0; top: 100%; }
    25% { opacity: 0.25; top: 75%; }
    50% { opacity: 0.5; top: 50%; }
    75% { opacity: 1; top: 25%; }
    100% { opacity: 0; top: 0; }
}
@keyframes floatImage {
    0% { opacity: 0; top: 100%; }
    25% { opacity: 0.25; top: 75%;  }
    50% { opacity: 0.5; top: 50%; }
    75% { opacity: 1; top: 25%; }
    100% { opacity: 0; top: 0; }
}
@-webkit-keyframes floatImageLeft {
    0% { opacity: 0; top: 100%; left: 30%;}
    25% { opacity: 0.25; top: 75%; left: 30%; }
    50% { opacity: 0.5; top: 50%; left: 25%;}
    75% { opacity: 1; top: 25%; left: 20%;}
    100% { opacity: 0; top: 0; left: 10%;}
}
@keyframes floatImageLeft {
    0% { opacity: 0; top: 100%; left: 30%;}
    25% { opacity: 0.25; top: 75%; left: 30%;}
    50% { opacity: 0.5; top: 50%; left: 25%;}
    75% { opacity: 1; top: 25%; left: 20%;}
    100% { opacity: 0; top: 0; left: 10%;}
}
@-webkit-keyframes floatImageRight {
    0% { opacity: 0; top: 100%; left: 30%;}
    25% { opacity: 0.25; top: 75%; left: 30%; }
    40% { opacity: 0.6; top: 50%; left: 30%;}
    75% { opacity: 1; top: 25%; left: 35%;}
    100% { opacity: 0; top: 0; left: 55%;}
}
@keyframes floatImageRight {
    0% { opacity: 0; top: 100%; left: 30%;}
    25% { opacity: 0.25; top: 75%; left: 30%;}
    40% { opacity: 0.6; top: 50%; left: 30%;}
    75% { opacity: 1; top: 25%; left: 35%;}
    100% { opacity: 0; top: 0; left: 55%;}
}
body {
 background-color: black;
 overflow-y: hidden; /* Hide vertical scrollbar */
 overflow-x: hidden; /* Hide horizontal scrollbar */
}

