/* fishhead */
#page-1 { 
    position: absolute;
}
/* yachiyo */
#page-2 {
    position: absolute;
}
/* pool */
#page-3 { 
    position: absolute;
}

body {
 background-color: black;
 overflow-y: hidden; /* Hide vertical scrollbar */
 overflow-x: hidden; /* Hide horizontal scrollbar */
}

